# My First Data Science Project

In the code below, we will:

- This work is on a dataset of submissions to a popular technology site called Hacker News, where user-submitted stories (known as "posts") receive votes and comments, similar to reddit.
 - The goal is to analyze the dataset to check the number of comments received by any post at any hour of the day.
 - eventually we will be able to know what time is the likeliest time to gain traction and get the highest comment for post.
 - All times will be converted to London UK time.

In [2]:
from csv import reader
opened_file = open ('hacker_news.csv')
read_file = reader(opened_file)
hn = list(read_file)
header = (hn[0])

print (header)

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [3]:
print (hn[1:6])

[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01'], ['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']]

In [4]:
ask_posts = []
show_posts = []
other_posts = []
for row in hn:
    title = row[1].lower()
    if title.startswith('ask hn'):
        ask_posts.append(row)
    elif title.lower().startswith('show hn'):
        show_posts.append(row)
    else:
        other_posts.append(row)

In [5]:
total_ask_comments = 0
for row in ask_posts:
    num_comments = int(row[4])
    total_ask_comments += num_comments
avg_ask_comments = total_ask_comments/len(ask_posts)

In [6]:
print (avg_ask_comments)

14.038417431192661

In [7]:
total_show_comments = 0
for row in show_posts:
    num_comments = int(row[4])
    total_show_comments += num_comments
avg_show_comments = total_show_comments/len(show_posts)

In [8]:
print (avg_show_comments)

10.31669535283993

In [9]:
import datetime as dt
result_list = []
counts_by_hour = {}
comments_by_hour = {}
for row in ask_posts:
    created_at = row[6]
    num_comment = int(row[4])
    result_list.append([created_at, num_comment])
print (result_list[0:5])

[['8/16/2016 9:55', 6], ['11/22/2015 13:43', 29], ['5/2/2016 10:14', 1], ['8/2/2016 14:20', 3], ['10/15/2015 16:38', 17]]

In [10]:
for row in result_list:
    date_str = row[0]
    comment = (row[1])
    date_dt = dt.datetime.strptime(date_str, '%m/%d/%Y %H:%M')
    date_dt = dt.datetime.strftime(date_dt, '%H')
    if date_dt not in counts_by_hour:
        counts_by_hour[date_dt] = 1
        comments_by_hour[date_dt] = comment
    else:
        counts_by_hour[date_dt] += 1
        comments_by_hour[date_dt] += comment

In [11]:
print (counts_by_hour)

print (comments_by_hour)

{'09': 45, '13': 85, '10': 59, '14': 107, '16': 108, '23': 68, '12': 73, '17': 100, '15': 116, '21': 109, '20': 80, '02': 58, '18': 109, '03': 54, '05': 46, '19': 110, '01': 60, '22': 71, '08': 48, '04': 47, '00': 55, '06': 44, '07': 34, '11': 58}
{'09': 251, '13': 1253, '10': 793, '14': 1416, '16': 1814, '23': 543, '12': 687, '17': 1146, '15': 4477, '21': 1745, '20': 1722, '02': 1381, '18': 1439, '03': 421, '05': 464, '19': 1188, '01': 683, '22': 479, '08': 492, '04': 337, '00': 447, '06': 397, '07': 267, '11': 641}

In [12]:
avg_comment = {}
avg_by_hour = []
for hour in comments_by_hour:
    avg_comment[hour] = comments_by_hour[hour]/counts_by_hour[hour]
    avg_by_hour.append([hour, avg_comment[hour]])
print (avg_by_hour)

[['09', 5.5777777777777775], ['13', 14.741176470588234], ['10', 13.440677966101696], ['14', 13.233644859813085], ['16', 16.796296296296298], ['23', 7.985294117647059], ['12', 9.41095890410959], ['17', 11.46], ['15', 38.5948275862069], ['21', 16.009174311926607], ['20', 21.525], ['02', 23.810344827586206], ['18', 13.20183486238532], ['03', 7.796296296296297], ['05', 10.08695652173913], ['19', 10.8], ['01', 11.383333333333333], ['22', 6.746478873239437], ['08', 10.25], ['04', 7.170212765957447], ['00', 8.127272727272727], ['06', 9.022727272727273], ['07', 7.852941176470588], ['11', 11.051724137931034]]

In [13]:
for hour in sorted(avg_comment):
    print(f"{hour}: {avg_comment[hour]:.2f} average comments")

00: 8.13 average comments
01: 11.38 average comments
02: 23.81 average comments
03: 7.80 average comments
04: 7.17 average comments
05: 10.09 average comments
06: 9.02 average comments
07: 7.85 average comments
08: 10.25 average comments
09: 5.58 average comments
10: 13.44 average comments
11: 11.05 average comments
12: 9.41 average comments
13: 14.74 average comments
14: 13.23 average comments
15: 38.59 average comments
16: 16.80 average comments
17: 11.46 average comments
18: 13.20 average comments
19: 10.80 average comments
20: 21.52 average comments
21: 16.01 average comments
22: 6.75 average comments
23: 7.99 average comments

In [14]:
swap_avg_by_hour = []
for item in avg_by_hour:
    a = item[0]
    b = item[1]
    swap_avg_by_hour.append([b, a])
print (swap_avg_by_hour)

[[5.5777777777777775, '09'], [14.741176470588234, '13'], [13.440677966101696, '10'], [13.233644859813085, '14'], [16.796296296296298, '16'], [7.985294117647059, '23'], [9.41095890410959, '12'], [11.46, '17'], [38.5948275862069, '15'], [16.009174311926607, '21'], [21.525, '20'], [23.810344827586206, '02'], [13.20183486238532, '18'], [7.796296296296297, '03'], [10.08695652173913, '05'], [10.8, '19'], [11.383333333333333, '01'], [6.746478873239437, '22'], [10.25, '08'], [7.170212765957447, '04'], [8.127272727272727, '00'], [9.022727272727273, '06'], [7.852941176470588, '07'], [11.051724137931034, '11']]

In [16]:
sorted_swap = sorted(swap_avg_by_hour, reverse = True)
print (sorted_swap)

[[38.5948275862069, '15'], [23.810344827586206, '02'], [21.525, '20'], [16.796296296296298, '16'], [16.009174311926607, '21'], [14.741176470588234, '13'], [13.440677966101696, '10'], [13.233644859813085, '14'], [13.20183486238532, '18'], [11.46, '17'], [11.383333333333333, '01'], [11.051724137931034, '11'], [10.8, '19'], [10.25, '08'], [10.08695652173913, '05'], [9.41095890410959, '12'], [9.022727272727273, '06'], [8.127272727272727, '00'], [7.985294117647059, '23'], [7.852941176470588, '07'], [7.796296296296297, '03'], [7.170212765957447, '04'], [6.746478873239437, '22'], [5.5777777777777775, '09']]

In [ ]:
for row in sorted_swap:
    average = row[0]
    hour = row[1]
    hour = dt.datetime.strptime(hour, '%H')
    hour = dt.datetime.strftime(hour, '%H:%M')
    row[1]= hour
    average = "{:.2f}".format(average)
    row[0] = average

In [ ]:
print(sorted_swap)

In [ ]:
import datetime as dt
import pytz
local_tz = pytz.timezone('Europe/London')
for row in sorted_swap:
    average = row[0]
    hour = row[1]
hour_dt = dt.datetime.strptime(hour, '%H')
utc_tz = pytz.utc
hour_tz = utc_tz.localize(hour_dt)
local_time = hour_tz.astimezone(local_tz)
local_time_str = local_time.strftime('%H:%M')
row[1] = local_time_str
print(sorted_swap)